.main-body-div {
    display: flex;
    flex-direction: column;
}

.sills-interests {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.each-div {
    border: solid black;
    padding: 3%;
    width: 15%;
}

.each-div > h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8%;
}

.skills-list {
    align-content: flex-start;
}

ul > li {
    list-style-type: square;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
    margin-block-end: auto;
}

.projects-div {
    border: solid black;
    padding: 3%;
    width: 20%;
    margin: 1%;
    margin-bottom: 5%;
}

.pic-div > img {
    height: 18rem;
    width: 25rem;
}

.projects-div > h1{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 9%;
}

.contact-div {
    border: solid black;
    padding: 3%;
    margin: 1%;
    width: 20%;
    margin-bottom: 5%;
    text-align: center;
    
}

.contact-div > h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8%;
}

a {
    text-decoration: none;
}